<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ajustes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-container">
    <div class="options">

      <ion-item>
        <ion-label>Modo escuro</ion-label>
        <ion-toggle slot="end" [(ngModel)]="isDarkMode" (ionChange)="toggleDarkMode()"></ion-toggle>
      </ion-item>

      <ion-item button (click)="clearData()">
        <ion-label color="danger" class="ion-text-center">Excluir Dados</ion-label>
      </ion-item>

    </div>

    <div class="about ion-text-center ion-padding">
      <ion-text color="medium">© 2024 ReMed, Inc.</ion-text> <br>
      <ion-text color="medium">Edson | Yuri</ion-text>
    </div>
  </div>
</ion-content>