<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Medicamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="page-container">

    <ion-list>

      <!-- Nome do remédio -->
      <ion-item>
        <ion-input label="Nome do Medicamento" labelPlacement="floating" [(ngModel)]="name">
        </ion-input>
      </ion-item>

      <!-- Tipo de medicamento -->
      <ion-item>
        <ion-select label="Tipo de Medicamento" okText="Confirmar" value="comprimido" cancelText="Cancelar"
          [(ngModel)]="type">
          <ion-select-option value="Comprimido">Comprimido</ion-select-option>
          <ion-select-option value="Gotas">Gotas</ion-select-option>
          <ion-select-option value="Injeção">Injeção</ion-select-option>
          <ion-select-option value="Outro">Outro</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Dosagem -->
      <ion-item>
        <ion-input label="Qual a dose" labelPlacement="floating" type="number" [(ngModel)]="doses">
        </ion-input>
      </ion-item>

    </ion-list>

    <div class="buttons">
      <ion-button color="danger" fill="clear" (click)="deleteMedicine()">Excluir</ion-button>

      <div class="main">
        <ion-button color="light" routerLink="/tabs/tab1">Cancelar</ion-button>
        <ion-button color="primary" (click)="updateMedicine()">Salvar</ion-button>
      </div>
    </div>

  </div>
</ion-content>